---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=789%20Oak%20St,%20Anytown%20USA&key=<GOOGLE_MAPS_API_KEY>&mode=driving&origin=456%20Elm%20St,%20Anytown%20USA,123%20Main%20St,%20Anytown%20USA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "OK",
                 "partial_match" : true,
                 "place_id" : "ChIJCzYy5IS16lQRQrfeQ5K5Oxw",
                 "types" : [ "country", "political" ]
              },
              {
                 "geocoder_status" : "OK",
                 "partial_match" : true,
                 "place_id" : "ChIJCzYy5IS16lQRQrfeQ5K5Oxw",
                 "types" : [ "country", "political" ]
              }
           ],
           "routes" : [
              {
                 "bounds" : {
                    "northeast" : {
                       "lat" : 37.0897466,
                       "lng" : -95.71251149999999
                    },
                    "southwest" : {
                       "lat" : 37.0897466,
                       "lng" : -95.71251149999999
                    }
                 },
                 "copyrights" : "Map data \u00a92023",
                 "legs" : [
                    {
                       "distance" : {
                          "text" : "1 ft",
                          "value" : 0
                       },
                       "duration" : {
                          "text" : "1 min",
                          "value" : 0
                       },
                       "end_address" : "United States",
                       "end_location" : {
                          "lat" : 37.0897466,
                          "lng" : -95.71251149999999
                       },
                       "start_address" : "United States",
                       "start_location" : {
                          "lat" : 37.0897466,
                          "lng" : -95.71251149999999
                       },
                       "steps" : [
                          {
                             "distance" : {
                                "text" : "1 ft",
                                "value" : 0
                             },
                             "duration" : {
                                "text" : "1 min",
                                "value" : 0
                             },
                             "end_location" : {
                                "lat" : 37.0897466,
                                "lng" : -95.71251149999999
                             },
                             "html_instructions" : "Head\u003cdiv style=\"font-size:0.9em\"\u003eRestricted usage road\u003c/div\u003e",
                             "polyline" : {
                                "points" : "}akaFdzdgQ"
                             },
                             "start_location" : {
                                "lat" : 37.0897466,
                                "lng" : -95.71251149999999
                             },
                             "travel_mode" : "DRIVING"
                          }
                       ],
                       "traffic_speed_entry" : [],
                       "via_waypoint" : []
                    }
                 ],
                 "overview_polyline" : {
                    "points" : "}akaFdzdgQ"
                 },
                 "summary" : "",
                 "warnings" : [],
                 "waypoint_order" : []
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 05 May 2023 22:01:04 GMT
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=456%20Elm%20St,%20Anytown%20USA&key=<GOOGLE_MAPS_API_KEY>&mode=driving&origin=123%20Main%20St,%20Anytown%20USA,123%20Main%20St,%20Anytown%20USA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
 [...]
