---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/directions/json?destination=456%20Elm%20St.&key=<GOOGLE_MAPS_API_KEY>&mode=driving&origin=123%20Main%20St.,789%20Oak%20St.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "geocoded_waypoints" : [
              {
                 "geocoder_status" : "ZERO_RESULTS"
              },
              {
                 "geocoder_status" : "ZERO_RESULTS"
              }
           ],
           "routes" : [],
           "status" : "NOT_FOUND"
        }
  recorded_at: Sat, 06 May 2023 01:00:35 GMT
recorded_with: VCR 6.1.0
